Options +FollowSymLinks
RewriteEngine on

RewriteRule ^log-in$ php/login.php [QSA]
RewriteRule ^admin$ php/admin.php [QSA]
RewriteRule ^user$ php/user.php [QSA]
RewriteRule ^list$ php/list.user.php [QSA]
RewriteRule ^log-out$ config/close.php [QSA]

