*,
*::before,
*::after{
	box-sizing:border-box;
}
html{
	font-size:14px;
}
body{
	background-color: #f5f5f5;
	margin: 0px;
}

/* NAVEGACION */
.main-nav{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	align-items: center;
	background: linear-gradient(to bottom, teal, #67b5ae);
	box-shadow:0px 2px 5px 1px rgba(0,0,0,0.6);
	padding-left: 20px;
	padding-right: 20px;
	font-family: Arial, Helvetica, sans-serif;;
}
.icon{
	font-size: 1.4em;
	margin-right: 20px;
}
.first-group{
	display: flex;
	align-items: center;
	height: 30px;
}
.menu-item{
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #68ccb2;
	border-radius: 4px;
	padding: 4px;
	color: #fff;
	text-decoration: none;
}
.menu-item a{
	color: #fff;
	text-decoration: none;
}
.menu-item:hover{
	background-color: #68ccb2;
	color: #fff;
	text-decoration: none;
}

/* TARJETAS PARA DASHBOARD */
.card-container{
	display: flex;
}
.card{
	position: relative;
	width: 25%;
	height: 80px;
	border-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}
.card-icon-ochre{
	display: flex;
	align-items: center;
	justify-content: center;
  width: 60px;
	height: 60px;
	background-color: #a3a260;
	position: absolute;
	bottom: 35px;
	left: 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}
.card-icon-blue{
	display: flex;
	align-items: center;
	justify-content: center;
  width: 60px;
	height: 60px;
	background-color: #0f61db;
	position: absolute;
	bottom: 35px;
	left: 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}
.card-icon-ochre i,
.card-icon-green i,
.card-icon-blue,
.card-icon-red i{
	color: #fff;
}
.card-icon-green{
	display: flex;
	align-items: center;
	justify-content: center;
  width: 60px;
	height: 60px;
	background-color: #19a641;
	position: absolute;
	bottom: 35px;
	left: 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}
.card-icon-red{
	display: flex;
	align-items: center;
	justify-content: center;
  width: 60px;
	height: 60px;
	background-color: #9c0808;
	position: absolute;
	bottom: 35px;
	left: 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}
.card-text{
	display: flex;
	align-items: center;
	justify-content: end;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 160px;
	height: 40px;
	padding: 5px;
	font-family: sans-serif;
	font-size: 2.1em;
	font-weight: bold;

}
.card-text1{
	display: flex;
	align-items: center;
	justify-content: end;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 30px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: 300;

}
.card-icon-alert{
	display: flex;
	align-items: center;
	justify-content: center;
    width: 90%px;
	height: 80px;
	background-color: #9c0808;
	position: absolute;
	bottom: 35px;
	left: 15px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.6);
}
.card-alert{
	position: relative;
	width: 100%;
	min-height: 100px;
	border-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
}
.card-text-alert{
	display: flex;
	align-items: center;
	justify-content: end;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 160px;
	height: 40px;
	padding: 5px;
	font-family: sans-serif;
	font-size: 2.1em;
	font-weight: bold;
}
